<nav class="navbar navbar-default" role="navigation">
  <div class="row">
    <div class="red col-md-2">&nbsp;</div>
    <div class="orange col-md-2">&nbsp;</div>
    <div class="yellow col-md-2">&nbsp;</div>
    <div class="green col-md-2">&nbsp;</div>
    <div class="blue col-md-2">&nbsp;</div>
    <div class="purple col-md-2">&nbsp;</div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <%= render_list :class => "nav nav-justified" do |li|
            li << link_to("關於我們",anchor: 'about')
            li << link_to("最新優惠",anchor: 'new')
            li << link_to("餐點介紹",anchor: 'menu')
            li << link_to("桌遊介紹",anchor: 'board')
            li << link_to("活動花絮",anchor: 'activity')
            li << link_to("聯絡我們",anchor: 'contact')
          end %>
      <!-- <ul class="nav nav-justified">
        <li><a href="#about">關於我們</a>
        </li>
        <li>
          <a href="#new">最新優惠</a>
        </li>
        <li>
          <a href="#menu">餐點介紹</a>
        </li>
        <li>
          <a href="#board">桌遊介紹</a>
        </li>
        <li>
          <a href="#activity">活動花絮</a>
        </li>
        <li>
          <a href="#contact">聯絡我們</a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>
