<div class="top">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="left col-md-8">
      <img class="logo" src="assets/bgpic.png">
      <div class="round">
        <%= link_to("了解更多", page_path('about'), :class => "round-button") %></div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
