// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

$red: #de1e19;
$orange: #e45c19;
$yellow: #efea35;
$green: #53b232;
$blue: #14bbdb;
$purple: #7e1e6f;

a {
  text-decoration: none;
  color: black;
}

.row {
  line-height: 10px;
}

#new {
  height: 100vh;
  background: $red;
}

#about {
  height: 100vh;
  background: $orange;
}

#activity {
  height: 100vh;
  background: $yellow;
}

#board {
  height: 100vh;
  background: $blue;
}

#contact {
  height: 100vh;
  background: $green;
}

#menu {
  height: 100vh;
  background: $purple;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.top {
  height: 100vh;
  min-width: 100% !important;
  background: white;
}

.left {
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url("bgpic.jpg");
}

.navbar {
  margin-bottom: 0;
  min-height: 0;
  width: 100%;
}

img.logo {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.round-button {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size: 15px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.round-button:hover {
  color: #ccc;
  text-decoration: none;
  background: #333333;
}

.round {
  padding-top: 50px;
}

.red {
  background-color: $red;
}

.orange {
  background-color: $orange;
}

.yellow {
  background-color: $yellow;
}

.green {
  background-color: $green;
}

.blue {
  background-color: $blue;
}

.purple {
  background-color: $purple;
}